body {
    background-color: #f2f2f2;
}
h1 {
    display: none
}
h2 {
    color: #9381ff;
    font-size: 2em !important;
}
a {
    color: #9381ff;
}
.markdown-body h3 {
    margin: 0;
}
.markdown-body h3 + h3 {
    margin-top: 1em;
}
.markdown-body h3 + p {
    margin-top: 1em;
}
.markdown-body strong ul {
    margin-bottom: 0;
}
.markdown-body ul h4 {
    margin-top: 0;
    margin-bottom: 0;
}
.alert {
    border-left: 6px solid #9381ff;
    background-color: #f8f7ff;
    padding: 1em;
    margin: 1em 0;
    border-radius: 6px;
    color: #333;
}
.alert.info { border-color: #9381ff; }
.alert.warn { border-color: orange; background-color: #fff4e5; }
.alert.price { border-color: green; background-color: #e6ffed; }
.arrow {
    border: solid black;
    border-width: 0 3em 3em 0;
    display: inline-block;
    padding: 3em;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    position: absolute;
    bottom: 1em;
    left: 0;
    right: 0;
}
.arrow-container {
    position: relative;
}
  